<h1 class="page-header">Leaderboard</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <%- @board.columns.each do |col| -%>
          <th>
            <%= col %>
          </th>
        <%- end -%>
      </tr>
      <tr>
        <th>Reference</th>
        <%- @board.references.each do |reference| -%>
          <td>
            <%= reference %>
          </td>
        <%- end -%>
      </tr>
      <tr>
        <th>Par</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      <%= render @board.teams -%>
    </tbody>
  </table>
</div>
<p class="text-info">
  This page will refresh every 10 seconds
</p>